
.player-container.hide-cursor {
  cursor: none;
}
.controls-container {
  transition: opacity 0.3s ease;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.3);
  height: 6px;
  border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: var(--color-primary);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
